/* Estilos específicos para la vista de administrador */
.fondo {
  position: relative;
}

.fondo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./logo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.container {
  max-width: 800px;
  margin-left: 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Importante para que el z-index funcione */
  z-index: 1; /* Asegura que el contenido esté por encima de la imagen de fondo */
}

.admin-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.table th, .table td {
  padding: 8px; /* Reducimos el padding para hacer las celdas más compactas */
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
}

.status {
  font-size: 16px;
}

.action-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 3px; /* Reducimos ligeramente el margen entre los botones de acción */
}

.btn-primary {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilos adicionales para mejorar la tabla */
.table th:first-child,
.table td:first-child {
  padding-left: 15px; /* Aumenta ligeramente el espacio del primer elemento en la tabla */
}

.action-btn.delete {
  margin-top: 2px; /* Separa aún más los botones de eliminar */
}


.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: right;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}
