/* dashboard.css */

.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .dashboard-content {
    flex: 1;
    padding: 20px;
  }
  
  /* Puedes agregar estilos adicionales para el contenido del dashboard aquí */
  